// General colors
$color-primary: #bd8d2c;
$color-dividing-line: #6f6d6b;

//Background colors
$light-background: #fef9f1;

// Typographie colors
$color-global-text: white;

// Typographie sizes
$size-h3: x-large;
$size-h2: x-large;

// import copy/paste
/*
@import './style/variables.scss';
@import './style/mixins.scss';
*/
