@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.footer {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid $color-dividing-line;
  & img {
    margin-top: 30px;
    width: 60px;
  }
}
