@import "./style/variables.scss";
@import "./style/mixins.scss";

.App {
  margin: 1em;

  @include for-size(phone-only) {
  }
}

.separator {
  border: 0;
  height: 35px;
  border-right: 1px solid gray;
  margin-left: 10;
}
