@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.nav {
  border-top: 2px solid $color-dividing-line;
  border-bottom: 2px solid $color-dividing-line;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  & p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
